@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="top-row navbar navbar-dark">
            <div class="container-fluid">
                <div class="row w-100">
                    <div class="col-12">
                        <div class="d-flex align-items-center w-100 gap-2">
                            <button type="button" class="btn btn-default btn-sm text-white fw-bold" @onclick="ToggleMenu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;">
                                    <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                                </svg>
                            </button>
                            <div class="me-auto">
                                @* <a class="navbar-brand" href="">Blazing Quiz Mobile</a> *@
                                <label class="m-0 h4 text-white">
                                    <SectionOutlet SectionName="pageTitle"/>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (_menuOpened)
        {
            <NavMenu OnMenuClosed="ToggleMenu"/>
        }
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private bool _menuOpened = false;

    private void ToggleMenu()
    {
        _menuOpened = !_menuOpened;
    }

}
