@inject QuizAuthStateProvider QuizAuthStateProvider
@inject NavigationManager NavigationManager


    <div class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
         id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="visibility: visible;"
         aria-modal="true" role="dialog">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" @onclick="OnMenuClosed"></button>
        </div>
        <div class="offcanvas-body">
            <div class="offcanvas-body">
                <nav class="flex-column">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/student/home" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="student/my-quizzes">
                            My Quizes
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <a role="button" class="nav-link" @onclick="OnMenuClosed">
                            Logout
                        </a>
                    </div>

                </nav>
            </div>
        </div>
    </div>
    <div class="offcanvas-backdrop fade show" @onclick="LogoutAsync"></div>

@code

{
    [Parameter]
    public EventCallback OnMenuClosed { get; set; }

    private async Task LogoutAsync()
    {
        await QuizAuthStateProvider.SetLogoutAsync();
        NavigationManager.NavigateTo("auth/login",replace:true);
    }
    
}
