@page "/"
@inject NavigationManager NavigationManager

<SectionContent SectionName="pageTitle">Blazing Quiz </SectionContent>

<h1>Hello, world!</h1>

Welcome to your new app.

@inject QuizAuthStateProvider QuizAuthStateProvider

@code
{
    protected override async Task OnInitializedAsync()
    {
       var isSuccess= await QuizAuthStateProvider.InitializeAsync(redirectToLogin:false);
       if (!isSuccess)
       {
           NavigationManager.NavigateTo("auth/login");
       }
    }
}