@page "/auth/login"
@layout EmptyLayout

<div class="container">
    <div class="row vh-100">
        <div class="col-sm-4 mx-auto my-auto border shadow-lg">
            
            <div class="mt-3">
                <h1 class="h3">Login | Blazing Quiz </h1>
            </div>
            <hr/>
            <EditForm Model="_model" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator/>
                <div class="mb-3">
                    <label class="form-label">Username: </label>
                    <InputText @bind-Value="_model.UserName" class="form-control"/>
                    <ValidationMessage For="@(() => _model.UserName)"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password: </label>
                    <InputText type="password" @bind-Value="_model.Password" class="form-control"/>
                    <ValidationMessage For="@(() => _model.Password)"/>

                </div>
                <div class="mb-3">
                    @if (!_isBusy)
                    {
                        <button type="submit" class="btn btn-success">Login</button>

                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    }
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private LoginDto _model = new();

    private bool _isBusy;

    private async Task LoginAsync()
    {
       _isBusy= true;
       await Task.Delay(2000);

       _isBusy= false;

    }
}
