@page "/"
@using System.Security.Claims
@inject QuizAuthStateProvider QuizAuthStateProvider


<PageTitle>Home</PageTitle>
<SectionContent SectionName="pageTitle">Home</SectionContent>

<h1>Hello, @QuizAuthStateProvider.User.Name</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorizing>
        <p>Checking your authorization...</p>
    </Authorizing>
    <NotAuthorized>
        <p>Sorry, you are not authorized to access this page.</p>
    </NotAuthorized>
    <Authorized>
        <p>@context.User.Claims.FirstOrDefault(c=>c.Type==ClaimTypes.Name)?.Value  You are authorized to access this page.</p>
    </Authorized>
</AuthorizeView>

@code {
    
}